/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
} */

/* PageNav.module.css */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature to style an active NavLink from react-router-dom */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

/* ======================================= */
/*           RESPONSIVE DESIGN             */
/* ======================================= */

/* For Tablets (e.g., up to 850px) */
@media (max-width: 850px) {
  .nav ul {
    gap: 3rem; /* Reduce the gap between nav items */
  }
}

/* For Mobile Phones (e.g., up to 550px) */
@media (max-width: 550px) {
  .nav {
    flex-direction: column; /* Stack logo and nav links vertically */
    gap: 2rem; /* Add space between the logo and the nav links */
  }
  .nav ul {
    gap: 2.5rem; /* Further reduce gap for smaller screens */
  }
  .nav a:link,
  .nav a:visited {
    font-size: 1.4rem;
  }
}
